body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}    
header{
    background-image: url("images/donation13.jpg");
    border-top: 0.01px solid wheat;
    background-size:cover;
    background-repeat: no-repeat;
    height: 590px;
    text-align: center;
}
header div{
    margin-top: 15vh;
}
header div h1{
    font-weight: 900;
    font-family:sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}
header div p{
  color: rgb(245, 245, 245);
}
.button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 12px 40px;
    border-radius: 5px;
}



.donate-today-section{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.donate-today-section h1{
    font-size: 38px;
}
.donate-today-section p,small{
    color: #65656c;
}

.donate-today-section div .donate-ammount{
    text-decoration: none;
    margin: 10px;
    color: #65656c;
    font-weight: 500;
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 15px;
    font-family: sans-serif;
}
.donate-today-section div #donate-tk{
    text-decoration: none;
    margin: 10px;
    color: tomato;
    font-weight: 500;
    border: 1px solid tomato;
    border-radius: 3px;
    background-color: rgb(254, 213, 206);
    padding: 15px;
}
hr{
    width: 45%;
}




.our-donate-plan{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.our-donate-plan h1{
    font-size: 38px;
}
.our-donate-plan p{
    color: #65656c;
}
.flexible-container{
    display: flex;
    justify-content: center;
}
.flexible-container .donate-plan{
    width: 22%;
    text-align: left;
    padding: 20px 15px;
    margin: 12px;
    border-radius: 3px;
}
.flexible-container #food-family{
    background-color: rgb(232, 255, 248);
}
.flexible-container #shelter-family{
    background-color: rgba(250, 228, 224, 0.92);
}
.flexible-container #education-child{
    background-color: rgb(254, 254, 211);
}




.volunteer-section{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.volunteer-section div #volunter-img img{
    width: 100%;
    border-radius: 3px;
}
.volunteer-section div #join-volunter{
   text-align: right;
   /* padding: 20px; */
   padding-left: 30px;
}
.about-us{
    width: 40%;
}
.volunteer-section h1{
    font-size: 38px;
}
.volunteer-section p{
    color: #65656c;
}


.get-my-updates{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.get-my-updates h1{
    font-size: 38px;
}
.get-my-updates p{
    color: #65656c;
}
.get-my-updates div{
    width: 70%;
    margin: 0 auto;
    height: 200px;
    background-color: rgb(254, 254, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.get-my-updates div #send-email{
    width: 50%;
    padding: 12px 40px;
    background-color: #adadad;
    border-radius: 5px 0px 0px 5px;
    border: none;
   font-size: 20px;
}
.get-my-updates div #btn{
    background-color: tomato;
    color: white;
    padding: 16px 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}



footer{
    text-align: center;
    background-color: black;
    padding: 15px;
}
footer h4{
    font-family:cursive;
    color: tomato;
 
}
footer p{
    color: #65656c;
}
footer a{
    text-decoration: none;
}