body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
section{
    width: 96%;
    margin: 50px auto;
}
        
        /*--------------------------------------------------------- 
                            start section 01  
        --------------------------------------------------------*/

.section01{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #161616;
    border-radius: 15px;
}
.section01 div{
    width: 45%;
}
.section01 div img{
    width: 100%;
    transform: scale(1.02);
}
.section01 h1{
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin: 25px 0;
}
.section01 p{
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}
.section01 button{
    font-weight: 700;
    border: none;
    padding: 16px 25px;
    background: #FF3D89;
    border-radius: 5px;
    color: #fff;
}
/*--------End section 01---------------------------------------*/


        /*------------------ start section 02  
        --------------------------------------------------------*/
.section02{
    display: flex; 
    align-items: stretch;
}
.section02 .box{
    margin-right: 10px;
}
.section02 .box .container{
    background: #161616;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 30px 0px 30px;
    border-radius: 10px;
}
.section02 .box .container a{
    background: #fff;
    color:#161616;
    text-decoration: none;
    padding: 17px 39px;
    border: 1px solid;
    margin-bottom: 30px;
    border-radius: 10px;
    white-space: nowrap;
}
/* .section02 .box .container #match-button{


} */
.section02 .box .container #blog-color{
    background: #FF3D89;
    color: #fff;
    border: none;
    font-weight: 700;
}
.section02 #box01{
    flex-grow: 1;   
}
.section02 .box .blog-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-gap: 20px;
    place-items: center;
}
.section02 .box .blog-container .blog {
    width: 312px;
    border-radius: 11px;
    border: 0.5px solid #B9B9B9;
}
.section02 .box .blog-container .blog .flag{
    display: flex;
    justify-content:space-evenly;
    align-items: center; 
}
.section02 .box .blog-container .blog {
    text-align: center;
}
.section02 .box .blog-container .blog p{
    color: #4D4D4D;
    ;
}
.tablet-visible{
    display: none;
}
/*--------End section 02---------------------------------------*/



    /*----------------    start footer
        -----------------------------------------------*/

footer{
    text-align: center;
    padding: 50px 0;
    background: #161616;
}
footer h1{
    color: #fff;
}
#hr{
    width: 75%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px auto;
}
footer div a{
    text-decoration: none;
    color:#B9B9B9;
    margin: 0 10px;
    white-space: nowrap;
}
footer a i{
    color: #B9B9B9;
    font-size: 30px;
    padding: 20px;
}


/* -------------------------Start Responsive for tablet 
---------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .section01 div img{
        width: 100%;
        height: auto;
        transform: scale(1.03);
    }
    .section01 h1{
        font-size: 40px;
        line-height: 50px;
        margin: 10px 0;
    }
    .section01 p{
        font-size: 14px;
        line-height: 24px;
    }
    .section01 button{
        padding: 12px;
    }
/*---- Section 01 Responsive completed for Tablet-----------------------*/   

.section02{
    display: block;
    text-align: center;
}
.section02 .box .container{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0 30px 0;
}
.section02 .box .container a{
    border: 1px solid #B9B9B9;
}
.section02 .box .blog-container{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}
.tablet-visible{
    display:inline;
    font-weight: 400;
    border: none;
    padding: 10px 20px;
    background: #FF3D89;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
}
.tablet-none{
    display: none;
}
/*--Section 02 Responsive completed for Tablet-------------------------------*/  
    footer div a{
        margin:  40px;
    }
}


/* ------------------------- Start Responsive for mobile
---------------------------------------------------*/
@media screen and (max-width:767px) {
    .section01{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 28px;
    }
    .section01 div{
        width: 70%;
    }
    .section01 div img{
        transform: scale(1.02);
    }
    .section01 h1{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        /* color: #fff; */

    }
    .section01 .text-ellipsis{
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .section01 button{
        padding: 8px 12px;
        margin-bottom: 50px;
    }
/*------ Section 01 Responsive completed for mobile device-----------------*/   


        .section02{
            display: block;
        }
        .section02 .box .container{
            background: none;
            align-items: center;
        }
        .section02 .box .container a{
            border: 1px solid #B9B9B9;
        }
        .section02 .box .blog-container{
            grid-template-columns: 1fr;
            grid-row-gap: 16px;
        }
        .tablet-none{
            display: none;
        }
        
    /*--Section 02 Responsive completed for Mobile Device-------------------------------*/ 
    footer div {
        display: flex;
        flex-direction: column;
    }
    footer div a{
        margin: 12px auto;
        text-decoration: none;
    }
}